<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>
      <button mat-button routerLink="/examples">Examples</button>
    </div>
    <div>
      <button mat-button routerLink="/inspection">Inspection</button>
      <button
        *ngIf="isLoggedIn; else authenticationPanel"
        mat-button
        (click)="onLogout()"
      >
        Logout
      </button>
      <ng-template #authenticationPanel>
        <button mat-button routerLink="/account/login">Sign in</button>
        <button mat-raised-button routerLink="/account/signup">
          Get started
        </button>
      </ng-template>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
