<h1 mat-dialog-title>Login</h1>

<button mat-icon-button class="close-button" mat-dialog-close>
  <mat-icon class="close-icon">close</mat-icon>
</button>
<mat-dialog-content>
  <form [formGroup]="form" class="parent">
    <mat-form-field>
      <mat-label>Login</mat-label>
      <input required matInput type="text" formControlName="email" />
      <mat-error *ngIf="this.form.get('email').hasError('required')">
        <mat-icon>error</mat-icon>{{ validationConstants.REQUIRED_MESSAGE }}
      </mat-error>
      <mat-error *ngIf="this.form.get('email').hasError('maxlength')">
        <mat-icon>error</mat-icon
        >{{ validationConstants.exceedsCharLimitMessage(emailTextLimit) }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input required matInput type="password" formControlName="password" />
      <mat-error *ngIf="this.form.get('password').hasError('required')">
        <mat-icon>error</mat-icon>{{ validationConstants.REQUIRED_MESSAGE }}
      </mat-error>
      <mat-error *ngIf="this.form.get('password').hasError('maxlength')">
        <mat-icon>error</mat-icon
        >{{ validationConstants.exceedsCharLimitMessage(emailTextLimit) }}
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button type="button" color="primary" mat-dialog-close>Cancel</button>
  <button
    mat-button
    (click)="onSave()"
    [disabled]="form.invalid || form.pristine"
  >
    Save
  </button>
</mat-dialog-actions>
